@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	font-family: Arial;
    font-size: 12px;
    height: 100%;
    margin: 20px 15px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 15px;
    height:100%;
    /* position: absolute; */
	/* top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px; */
}

#infographic {
    background-image: url(sample_infographic.jpg);
    background-repeat: no-repeat;
    z-index: 0;
    /* background-attachment: fixed; */
    height: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 60%;
    width: 500px;
    min-width: 40%;
}

.grad{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.header{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 255px);
	z-index: 2;
}

.header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.header div span{
	color: #FFEA00 !important;
}


::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

.links{
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

/* Section added */

.top-level h2 {
    color: #1265ab;
    width: fit-content;
    font-size: 18px;
}
.page-title {
    color: #1265ab;
    width: fit-content;
    font-size: 18px;
}

.top-level h2:hover {
    opacity: 0.6;
    cursor:pointer
}

.title
{
    font-weight: 600;
    line-height: 17px;
    font-family: 'Trebuchet Bold';
    color: #000000;
}
.content
{
    margin-top: 20px;
    line-height: 20px;
}
.container {
    width: 95%;
    margin-left:5%;
  }

  
  dt {
      color: #000000;
      margin-top:15px;
  }
  dd {
       color: #1265ab;
       margin-left:0px;
       margin-top:10px;
       border-bottom: 1px solid #DDDDDD;
      }
      
  dd:focus, input:focus{
    outline: none;
    border-bottom: 1px solid #009ACD;
}
  
  dt, dd {
/*       display: inline-block;
       */  }
  
  div > dt > div {
    margin-left:15px
  }
  
  div > dt > div > dt > div {
    margin-left:15px
  }

  div {
    margin-top:5px;
    margin-bottom:5px;
  }

  .object-div {
    margin-top: 15px;
    width: fit-content;

  }
  
  .object-div:hover {
    /* opacity: 0.6;
    cursor: pointer; */
  }

/* for one single button */

.pure-material-button-text {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 8px;
    min-width: 64px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    background-color: transparent;
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
}

.pure-material-button-text::-moz-focus-inner {
    border: none;
}

/* Overlay */
.pure-material-button-text::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: currentColor;
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-text::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px;
    height: 32px;
    background-color: currentColor;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1) ;
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-text:hover::before {
    opacity: 0.04;
}

.pure-material-button-text:focus::before {
    opacity: 0.12;
}

.pure-material-button-text:hover:focus::before {
    opacity: 0.16;
}

/* Active */
.pure-material-button-text:active::after {
    opacity: 0.16;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.pure-material-button-text:disabled {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: transparent;
    cursor: initial;
}

.pure-material-button-text:disabled::before {
    opacity: 0;
}

.pure-material-button-text:disabled::after {
    opacity: 0;
}

.input-tooltip {
    display:none;
}

